<footer>
    <link rel="stylesheet" href="/resurse/stiluri.css">
    <!-- etapa 1.13-->
    <section id="contact">
        <h2>Ne puteti contacta prin urmatoarele servicii: </h2>
        <ul>
            <li>Telefonic: <a href="tel:+4073333333">+4073333333</a></li>
            <li>Adresa: <a
                    href="https://www.google.com/maps?q=Facultatea+de+Matematica+si+Informatica+Bucuresti">Str.
                    Taramul de Foc nr. 33</a></li>
            <li>Email: <a href="mailto:contact@bazaaritems.com">contact@bazaaritems.com</a></li>
            <li>Whatsapp: <a href="https://web.whatsapp.com/">WhatAspp Chat</a></li>
        </ul>
    </section>

    <p><a href="/resurse/document.pdf" download="document-util">Descarcă documentul PDF</a></p>

    <!-- cerinta individuala etapa 1-->
    <a href="#top" id="link-top" title="inapoi sus">
        <span class="arrow">&#8593;</span>
    </a>

    <!-- etapa 1.14-->
    <small>&copy; <time datetime="2024-09-03">3 septembrie 2024</time>. Toate drepturile rezervate.</small>

</footer>