<header>
    <link rel="stylesheet" href="/resurse/css/stiluri.css">
    <!--etapa 1.6-->

    <h1><b>Bazaar Items</b></h1>

    <!-- etapa 2.1 partea de html-->
    <nav>
        <ul>
            <li><a href="index.html">Acasă</a> </li>
            <ul>
                <li><a href="#sectiunea1">Secțiunea 1</a></li>
                <li><a href="#sectiunea2">Secțiunea 2</a></li>
                <li><a href="#sectiunea3">Secțiunea 3</a></li>
            </ul>
            <li>
                <a href="#">Galerii de iteme</a>
                <ul class="submenu">
                    <li><a href="#">Galerie Statică</a></li>
                    <li><a href="#">Galerie Dinamică</a></li>
                </ul>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>


</header>