<head>

    <!--etapa 1.2-->

    <title>Bazaar Items</title>

    <!-- aici voi seta tagurile meta -->
    <!-- tagurile meta sunt fragmente care furnizeaza informatii 
    despre pagina web la motoarele de cautare -->



    <meta charset="utf-8"> <!--setul de caractere-->
    <meta name="author" content = "Popa Calin Marian">
    <meta name="description" content="Acesta platforma este destinata pentru comercializarea itemurilor din jocuri">
    <meta name="keywords" content="itemi, bazaar, gaming, rpg"> <!-- aici setez cuvintele cheie pentru seo-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--aici setez standardul ca sa fie redata pagina pe mai multe device-uri-->

    <!--etapa 1.3-->

    <!-- aici setez faviconul-->
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
    <link rel="manifest" href="/resurse/ico/site.webmanifest">
    <link rel="mask-icon" href="/resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#da532c">

    <!-- etapa 2.1-->
    <link rel="stylesheet" href="/css/stiluri.css" type="text/css">

</head>