<!-- layout responsive etapa 2.2-->
<main> <!-- clasa aleasa pentru layoutul de lal etapa 2-->
    <!-- important pt etapa 1.10 am folosit em si dfn la definitii, q la citatul de la blocquete, b la tilu si strong la alt text-->

    <!--etapa 1.5  IMPORTANT! etapa aia este salvata intr-un fisier html aditional gasit in resurse/altele/etapa1.html -->
    <div id="grid-pagina">
            <section id="prezentare">
                <h2>Bine v-am gasit la Bazaar Items</h2>
                <p class="intro">Sunteti mereu bineveniti sa admirati, testati si cumparati 
                    <q><strong><b>ITEMELE!</b></strong></q></p>

                <p class="anunt intro">
                    Pentru orice curios nou venit, regulile sunt simple: va inregistrati, uitati, admirati si cumparati!
                    Nu uitati ca tot se desfasoara online, atat de convenabil!
                </p>
                
                <div id="dv-prezentare-1">
                    <div id="dv-prezentare">
                        <figure>
                            <picture>
                                <source srcset="/resurse/imagini/mic.jpg" media="(max-width: 700px)">
                                <source srcset="/resurse/imagini/mediu.jpg" media="(max-width: 1200px)">
                                <img src="/imagini/resurse/mare.jpg" alt="text" title="Items">
                            </picture>
                            <figcaption>Game Items</figcaption>
                        </figure>
                    </div>
                </div>

                <hr class="iteme">
                <div id="container-video">
                    <img src="/resurse/imagini/sabiepng.png" alt="sabie" class="sabie">
                    <div id="centrare-video">
                        <div id="clip-video">
                            <div id="stil-video">
                                <video width="320" height="240"  playsinline autoplay loop muted>
                                    <source src="">
                                    <source src="">
                                </video>
                            </div>
                        </div>
                    </div>
                </div>


        
        </section>

        <section id="utilizatori">
            <p>utlizatori vor aparea aici</p>
        </section>

        <section id="date_utilizator"></section>
            <p>date la user aici</p>
        <section id="date_server"></section>
            <p>date server aici</p>
        <section id="calendar"></section>
            <p>calendar aici</p>
        <section id="tabel"></section>
            <p>tabel aici</p>
        <section id="anunturi"></section>
            <p>anunturi Aici</p>
        <section id="diverse"></section>
            <p>diverse Aici</p>

    </div>
</main>